body{
    background-color: #dfe6e9;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 1em 2em;
    margin: 3px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 0.15em;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    transition: all 0.5s;
}

button .ripple{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple{
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span{
    padding-right: 25px;
}

button:hover span:after{
    opacity: 1;
    right: 0;
}